---
import { site } from '../data/site.ts';
---
<footer>
  <div class="footer-row mono">
    {site.colophon && (
      <p class="colophon">{site.colophon}</p>
    )}
    <a href="#top">↑ back to top</a>
  </div>
</footer>
